/* Universal Styles */

body {
    background-color: white;
    margin: 0 10%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

div {
    display: block;
}

.container {
    border: 2px solid #0B100D;
    padding: 10px;
    margin: 10px auto;
}

/* Colors */

.color-container {
    width: 100%;
}

.color-panel {
    display: inline-block;
    width: 32%;
    margin: 20px auto;
    text-align: center;
    min-height: 100px;
}

.timberwolf {
    background-color: #DAD7CD;
    color: #0B100D;
}

.artichoke {
    background-color: #8D9A78;
    color: #0B100D;
}

.fern {
    background-color: #588157;
    color: #0B100D;
}

.hunter {
    background-color: #3A5A40;
    color: #DAD7CD;
}

.kombu {
    background-color: #31493D;
    color: #DAD7CD;
}

.rich {
    background-color: #0B100D;
    color: #DAD7CD;
}


/* Fonts */
.font-panel {
    width: 45%;
    display: inline-block;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.nunito {
    font-family: 'Nunito Sans', sans-serif;
}

.poppins  {
    font-family: 'Poppins', sans-serif;
}

.source-code-pro {
    font-family: 'Source Code Pro', monospace;
}

/* Text Styles */

ul {
    display: block;
    list-style-type: square;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
}

.text-panel h1 {
    font-weight: 700;
    font-size: 26px;
    font-family: 'Nunito Sans', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}